page-hinfo {


.title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 60px ;
     color:darkslategray; 
    position:relative;
     text-align: center;
}
.info {
    font-family:'Times New Roman', Times, serif;
     font-size: 40px ;
     color:cadetblue; 
     position:relative;
     text-align: center;
     
 }
}
